{% extends 'main/base.html' %}

{% block title %} Войти {% endblock %}

{% block body %}
  {% include 'main/navigation_bar.html' %}
  <div class="row mt-4 pt-4">
    <div class="col-sm-12">
      <form class="w-25 mx-auto" method="post">
        {% csrf_token %}
        <input type="text" name="username" class="form-control w-75 mx-auto mt-4" placeholder="Введите имя пользователя">
        <input type="password" name="password" class="form-control w-75 mx-auto mt-4" placeholder="Введите пароль">
        <input type="submit" class="w-75 mx-auto mt-4 form-control bg-primary" name="login" value="Войти">
      </form>

    </div>

  </div>
  {% include 'main/nav_bar_down.html' %}
{% endblock %}
