<div class="row">
  <div class="col-sm-12">
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'main:index_page' %}">Главная</a>
        </li>
        <li>
          <a class="nav-link disabled"href="{% url 'main:about_page' %}">О нас</a>
        </li>
      </ul>
    </nav>
    <div class="jumbotron">
      <h1>Qaz Bank</h1>
      <p>Лицензия на проведение банковских и иных операций и деятельности на рынке ценных бумаг №1.2.245/61 от 03.02.2020, выданная Агентством Республики Казахстан по регулированию и развитию финансового рынка</p>
    </div>
  </div>
</div>
